# Random Sampling

In [1]:
import pandas as pd
import numpy as np

In [6]:
# read in data frame 

df = pd.read_csv("~/Desktop/weclouddata/data/experimental_data.csv")
df.head()

,user_id,city,tenure,channel,opu_6_week,click,experiment
0,31c0fadd6066ab12e90fa931abbb649f7f591cd7927b9b...,STL,35,14,0.50,0,0
1,458c88e94be0dba675b65ea063233ea55806bf75c920a7...,EDM,4,15,0.50,0,1
2,62a556505ca62b9d00ea39e01885649c84ee8167c08bc4...,CAL,25,15,0.67,0,1
3,cf6ebf0bd83ea0c3d12526cd4952cd778c57abb0923f0b...,MSY,68,14,0.83,0,0
4,62d891d1d4a359eeee374346a57f943e8554193870a2c1...,SAN,17,2,0.33,0,1

In [5]:
# fully randomized experiment

randomized_exp = df.sample(frac = 0.1, replace=True, random_state=82)

In [7]:
experimental_group = df.loc[df['experiment'] == 1]
experimental_group_opu = np.array(experimental_group["opu_6_week"])

control_group = df.loc[df['experiment'] == 0]
control_group_opu = np.array(control_group["opu_6_week"])

In [11]:
stats.ttest_ind(experimental_group_opu, control_group_opu, equal_var = False)

array([0.5 , 0.67, 0.33, ..., 0.  , 0.  , 0.  ])